nav {
    border-bottom: 1px solid #e6e6e6;
}

.navbar_list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_list a {
    margin: 5px 10px;
}
